@model IEnumerable<TestShopAspnet.Models.Person>

@{
    ViewData["Title"] = "Все сотрудники";
}

<div class="container">
    <h2>Сотрудники магазина</h2>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-default">Создать</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TestShopAspnet.Models.Person person in Model)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>@person.Surname</td>
                    <td>@person.Age</td>
                    <td><a asp-action="Info" asp-route-id="@person.Id">Подробнее</a></td>
                </tr>
            }
        </tbody>
    </table>
    <p><a asp-action="Index">&#60;&#60;Main page</a></p>
</div>